@import "../../index.scss";

.offers-container {
    background: url("../../../public/Images/title-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 55.5px);
}

.recom-prod {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10%;
}

@include media-breakpoint-down(md){
    .offers-container{
        height: 100vh;
    }
}