@import "../../index.scss";

.offers-container {
    margin-top: 4px;
    background: url("../../../public/Images/title-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    width: 100%;

    h2 {
        margin-bottom: 150px;
    }
}

.recom-prod {
    margin-top: calc(8% + 50px);
    display: flex;
    flex-direction: column;
    gap: 50px;
}